
<section class="flex flex-col">
  <%= if @live_action == :new do %>
    <%= live_component @socket, FrickDmcaWeb.SongLive.FormComponent,
      id: @song.id || :new,
      title: @page_title,
      action: @live_action,
      song: @song %>
    <% end %>
  <audio/>
</section>
