
<section class="flex flex-col">
  <%= if @live_action == :new do %>
    <%= live_modal @socket, FrickDmcaWeb.SongLive.FormComponent,
      id: @song.id || :new,
      title: @page_title,
      action: @live_action,
      song: @song,
      user: @current_user,
      return_to: Routes.song_index_path(@socket, :index) %>
    <% end %>
  <audio/>
</section>
