<section class="flex flex-col">
  <%# live_component @socket, FrickDmcaWeb.SongLive.FormComponent,
     id: @song.id,
     title: @page_title,
     action: @live_action,
     song: @song,
     return_to: Routes.song_show_path(@socket, :show, @song) %>
  <audio/>
</section>
